.intro {
  height: 20rem;
  align-items: end;
  background-image: url(../assets/Banners/comparison-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-size: 6rem;
  text-shadow: 5px 5px red;
}

@media screen and (max-width: 928px) {
  .intro {
    height: 12rem;
  }

  .intro h1 {
    font-size: 4rem;
  }
}

.table {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 18px;
}

td img {
  width: 300px;
  height: 300px;
}