.intro{
    height: 20rem;
    align-items: end;
    background-image: url(../assets/Banners/contact-banner.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.intro h1{
    color: aliceblue;
    font-size: 6rem;
    text-shadow: 5px 5px red;
}
@media screen and (max-width: 928px) {
    .intro{
        height: 12rem;
    }
    .intro h1 {
      font-size: 4rem;
    }
  }

.info-set {
    background-color: #F8F8F8;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.icon{
    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.icon:hover{
    color: blue;
}